<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>购物车实践</title>
    <script type="text/javascript" src="vue.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" >
    <div v-if="books.length">
<table>
    <thead>
        <tr>
            <th></th>
            <th>书籍名称</th>
            <th>出版日期</th>
            <th>价格</th>
            <th>购买数量</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item,index) in books">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>{{item.price|showPrice}}</td>
            <td>
                <button @click="decrement(index)" v-bind:disabled="item.count<=1">-</button>
                {{item.count}}
                <button @click="increment(index)">+</button>
            </td>
            <td><button @click="btnDelete">移除</button></td>
        </tr>
    </tbody>
</table>
        <h4>总价：{{bookTotal|showPrice}}</h4>
    </div>
    <h1 v-else>购物车为空</h1>
</div>
</body>
</html>
<script type="text/javascript" src="index.js"></script>